body {
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #FFD51C;
}

::selection {
  color: white;
  background: #FFD51C;
}
/* Dark overlay over bg image */
body section {  
  background-color: rgba(33, 33, 33, 0.2);
}
.navbar {
  background-color: black;
}
  .navbar a {
    color: white;
  }

/* Setting the stroke to green using rgb values (0, 128, 0) */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(225, 225, 225, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

/* VARIOUS LOGOTYPES OF NG */
.logo1, .logo2 {
  float: left;
  margin: 5px 30px;
  height: 50px;
  width: 40px;
  border: #FFD51C solid 4px; }

.logo-top {
  display: none;
}

.yellow-line {
  border: 5px solid #FFD51C;
  z-index: 1;
  margin-right: 15px;
}
/* Yellow bar on hover */
.secondary-story:hover,
.story:hover,
#main-story:hover,
.secondary-story-footer:hover,
.nav-link:hover {
  border-bottom: solid 10px #FFD51C;
}
.nav-link:hover {
  border-bottom: solid 1px #FFD51C;
  color: antiquewhite;
}
/* Jumbotron */
/*Main Story */
#jumbo {
  background-color: rgba(33, 33, 33, 0.2);
  margin-bottom: 0;
  overflow-x: hidden;
}

#jumbo p {
  font-size: 1.7rem;
  color: white;
}
#hr-x {
  border: 5px solid #FFD51C;
  width: 200px;
  z-index: 1;
  margin-bottom: 100px;
}
/* Main Story */

#small-header {
  display: none
}

/* //////////////////////// */
#main-story {
  background-image: url("img/tectonic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-top: 10px;
}
#main-story:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px 5px rgba(100,100,100,0.6)
}
#main-story-container {
  height: 300px;
  padding-top: 152px;
  padding-left: 5px;
  text-align: start;
}

#main-story button, #side-story button {
  margin-bottom: 5px;
}

#img-main-story {
  width: 500px;
}
.jumbo-btn h5, p, h2, h3 {
  font-family: CenturyGothic, AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
  color: white;
}
.jumbo-btn {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}
.jumbo-btn:hover {
  text-decoration: none;
  color: white;
}
.jumbo-btn:visited {
  text-decoration: none;
}
/* Secondary Stories  */
/* .secondary-story {
 background-image: url("img/gejzer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 19vw;
  height: 150px;
  margin: 25px 2vw 0 0; 
} */
#first-pic {
  background-image: url("img/gejzer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  margin: 25px 0 0 0;
}

.margin-right {
  margin-right: 2vw;
}
#second-pic {
  background-image: url("img/climate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  margin: 25px 0 0 0;
}
.secondary-story:hover, #first-story-hover:hover, #secondary-story-hover:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px 5px rgba(100,100,100,0.6)
}
.secondary-story-footer {
  text-align: start;
  padding: 10px 10px 10px 0;
  color: white;
}

.img-secondary-story {
  width: 250px;
}

.jumbo-btn-secondary h3, h5, a {
  font-family: CenturyGothic, AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
  color: white;
}
.jumbo-btn-secondary:hover {
  text-decoration: none;
  color: black;
}

/* Latest Stories */
.story {
  margin: 10px 0;
}

.story h6:hover {
  color: antiquewhite;
}
.story h6 {
  display: inline-block;
  margin: 0;
  padding: 0 0 0 10px;
  font-family: CenturyGothic, AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
  vertical-align: top;
}

.text-field
{
  /* width: 400px; */
  height: auto;
}
.container {
  padding-top: 100px; }

.transparent-item {
  height: 300px;
  overflow: hidden;
  display: block; }

h1, h3, h6 {
  color: white; }

h6 {
  margin: 10px 0 10px 27px; }

.carousel {
  margin-top: 70px; }

.caption {
  text-align: left; }
  .caption h1 {
    font-size: 62px; }

p {
  color: gray; }

.block {
  margin: auto;
  margin-top: 21vh;
  height: 25vh; }

.info {
  margin-bottom: 15px; }

.obrazek {
  width: 100%;
  margin-bottom: 2px;
  border-top: #FFD51C solid 10px; }

.btn-dark {
  background-color: black; }

footer {
  background-color: black;
  padding-bottom: 10px; }

.phone, .home, .mail {
  height: 30px;
  float: left;
  padding-right: 4px; }

.home {
  margin-top: 20px; }

i {
  color: #FFD51C;
  border: none; }
  i:hover {
    text-decoration: none; }

.contact2, .contact3 {
  margin-top: auto;
  margin-bottom: auto; }
  
/* Media Queries */
@media screen and (max-width: 460px) {
  #small-header {
    display: inline
  }
  #big-header {
    display: none;
  }
  #main-story {
    width: 100vw;
  }
  #main-story:hover,.secondary-story:hover, #first-story-hover:hover, #secondary-story-hover:hover {
    transform: scale(1);
  }
  #main-story-container {
    padding: 40% 10px 0;
  }
  #first-story-hover, #first-pic, #second-pic, .secondary-story-footer {
    width: 48vw;
  }
  .jumbo-btn-secondary a, h5, h3 {
    font-size: 1rem;
  }

}

@media screen and (max-width: 768px) {
  .carousel {
    margin-top: 0; }

  .phone, .home, .mail {
    float: none; }

  h6 {
    margin: 10px 0; } }

@media screen and (max-width: 460px) {
  /* body {
    background-image: none;
    background-color: black;
  } */
  

  .fixed-top {
    margin-top: -15px;
    position: sticky;
  }

  .logo-top {
    width: 100%;
    display: inline-block;
    background-color: black;
  }
  
  .logo2 {
    float: none;
    margin: 10px auto;
  }
  
  .logo1 {
    display: none;
  }

  nav button {
    width: 100%;
  }

  .block {
    margin-top: 3vh; 
  }

  h1 {
    font-size: 50px; 
  } 
}