
body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#aquatic .row, #land .row, #airborne .row{
  margin-left: 0;
  margin-right: 0;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #FFD51C;
}

::selection {
  color: white;
  background: #FFD51C;
}
/* Dark overlay over bg image */
body section {  
  background-color: rgba(33, 33, 33, 0.2);
}
.navbar, .dropdown-menu {
  background-color: black;
}

.navbar a, .dropdown-menu a {
  color: white;
}

.dropdown-menu a:hover {
  background-color: black;
}

#navbardrop {
  color:white;
}

#navbardrop:hover {
  cursor: pointer;
}
    
.text-field {
  height: auto;
}

.container {
  padding-top: 100px; 
}

.transparent-item {
  height: 300px;
  overflow: hidden;
  display: block; 
}

h1, h3, h6 {
  color: white; 
}

.dane h6 {
  margin-top: 10px;
}