/* fixed counter */
.counter {
    position:fixed;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 5px;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    height: 82px;
  }
  
  .counter p {  
    text-align: center;
    color: white;
    margin-bottom: 4px;
  }
  
  #countdown {
    margin-bottom: 0;
    color:#FFD51C;
    font-size: x-large;
  }
  
  #x-btn {
    font-size: 1.3rem;
    position: fixed;
    bottom: 82px;
    right: 13.5px;
  }
  
  #x-btn:hover {
    cursor: pointer;
    color: #FFD51C;
  }