
footer {
  background-color: black;
  padding-bottom: 10px; 
}
  
.dane p, .dane h6 {
  margin-left: 15px;
}

.dane i {
  float: left;
  margin-right: -70px;
}
  
.fa-home {
  margin-top: 18px; 
}

.fa-envelope {
  margin-top: -3px;
}
  
i {
  margin: 0 20px;
  color: #FFD51C;
  border: none; 
}

i:hover {
  text-decoration: none; 
}

.contact2 div, .contact3 p {
  margin: 65px 0;
}

footer h6, .dane h6 {
  margin-top: 25px;
}