
footer {
  background-color: black;
  padding-bottom: 10px; 
}
  
.dane h6 {
  margin-left: 65.15px;
}

.dane i {
  float: left;
}
  
.fa-home {
  margin-top: 20px; 
}
  
i {
  margin: 0 20px;
  color: #FFD51C;
  border: none; 
}

i:hover {
  text-decoration: none; 
}

.contact2, .contact3 {
  margin-top: auto;
  margin-bottom: auto; 
}