/* Yellow bar on hover */
.secondary-story:hover,
.story:hover,
#main-story:hover,
.secondary-story-footer:hover,
.nav-link:hover {
  border-bottom: solid 10px #FFD51C;
}
.nav-link:hover {
  border-bottom: solid 1px #FFD51C;
  color: antiquewhite;
}
/* Jumbotron */
/*Main Story */
#jumbo {
  background-color: rgba(33, 33, 33, 0.2);
  margin-bottom: 0;
  overflow-x: hidden;
}

#jumbo p {
  font-size: 1.7rem;
  color: white;
}
#hr-x {
  border-bottom: 7px solid #FFD51C;
  width: 200px;
  z-index: 1;
  margin-bottom: 100px;
}
/* Main Story */

#small-header {
  display: none
}

/* //////////////////////// */
#main-story {
  background-image: url("../img/tectonic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-top: 10px;
}
#main-story:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px 5px rgba(100,100,100,0.6)
}
#main-story-container {
  height: 300px;
  padding-top: 152px;
  padding-left: 5px;
  text-align: start;
}

#main-story button, #side-story button {
  margin-bottom: 5px;
}

#img-main-story {
  width: 500px;
}
.jumbo-btn h5, p, h2, h3 {
  font-family: CenturyGothic, AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
  color: white;
}
.jumbo-btn {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}
.jumbo-btn:hover {
  text-decoration: none;
  color: white;
}
.jumbo-btn:visited {
  text-decoration: none;
}
/* Secondary Stories  */

#first-pic {
  background-image: url("../img/gejzer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  margin: 25px 0 0 0;
}

.margin-right {
  margin-right: 2vw;
}
#second-pic {
  background-image: url("../img/climate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  margin: 25px 0 0 0;
}
.secondary-story:hover, #first-story-hover:hover, #secondary-story-hover:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px 5px rgba(100,100,100,0.6)
}
.secondary-story-footer {
  text-align: start;
  padding: 10px 10px 10px 0;
  color: white;
}

.img-secondary-story {
  width: 250px;
}

.jumbo-btn-secondary h3, h5, a {
  font-family: CenturyGothic, AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
  color: white;
}
.jumbo-btn-secondary:hover {
  text-decoration: none;
  color: black;
}

/* Latest Stories */
.story {
  margin: 10px 0;
}

.story h6:hover {
  color: antiquewhite;
}
.story h6 {
  display: inline-block;
  margin: 0;
  padding: 0 0 0 10px;
  font-family: CenturyGothic, AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
  vertical-align: top;
}