 
/* Media Queries */

@media screen and (max-width: 768px) {
  .carousel {
    margin-top: 0; }

  .phone, .home, .mail {
    float: none; }

  h6 {
    margin: 10px 0; } 

  .info:hover {
    transform: scale(1.00);
  }

  body {
    background-size: auto;
  }
}


@media screen and (max-width: 460px) {
  #small-header {
    display: inline
  }
  #big-header {
    display: none;
  }
  
  #main-story:hover,.secondary-story:hover, #first-story-hover:hover, #secondary-story-hover:hover {
    transform: scale(1);
  }

  #main-story-container {
    padding-top: 180px;
  }
  
  .jumbo-btn-secondary a, h5, h3 {
    font-size: 1rem;
  }
  
  .counter {
    display: none;
  }  

  .fixed-top {
    margin-top: -15px;
    position: sticky;
  }

  .logo-top {
    width: 100%;
    display: inline-block;
    background-color: black;
  }
  
  .logo2 {
    float: none;
    margin: 10px auto;
  }
  
  .logo1 {
    display: none;
  }

  nav button {
    width: 100%;
  }

  .block {
    margin-top: 3vh; 
  }

  h1 {
    font-size: 50px; 
  } 
}