
/* Setting the stroke to green using rgb values (0, 128, 0) */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(225, 225, 225, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  
  /* VARIOUS LOGOTYPES OF NG */
  .logo1, .logo2 {
    float: left;
    margin: 5px 30px;
    height: 50px;
    width: 40px;
    border: #FFD51C solid 4px; }
  
  .logo-top {
    display: none;
  }
  
  .yellow-line {
    border: 5px solid #FFD51C;
    z-index: 1;
    margin-right: 15px;
  }
  