
.carousel {
  margin-top: 70px; }

.caption {
  text-align: left; }

.caption h1 {
  font-size: 62px; }

p {
  color: gray; }

.block {
  margin: auto;
  margin-top: 21vh;
  height: 25vh; }

.info {
  margin: 0 15px 15px 15px;
}

.info:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px 5px rgba(100,100,100,0.6);
}

.obrazek {
  width: 100%;
  margin-bottom: 2px;
  border-top: #FFD51C solid 10px; }

.btn-dark {
  background-color: black; }